body{
  color: #222;
}
img{
  width: 100%;
  height: 100%;
}
main{
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}
header{
  display:flex;
  justify-content:space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
header a{
  text-decoration:none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display:flex;
  gap: 24px;
}
p{
  width:inherit;
  height: 200px;
}

div.post{
  display: flex;

}
div.post{
  display:grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap:20px;
  margin-bottom: 20px;

}

div.post div.img{
 width:40%;

}
div.post div.texts h2{
  margin : 0;
  font-size: 1.6rem;
}
